.quick-links {
  background-color: #bbd4ea;
  height: 100%;
}
.quick-links-heading {
  padding-top: 5px;
  color: #27374D;
}

.items > div {
  background-color: #a5c2dc;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}
.items {
  display: flex;
}
