.card {
  /* border: 1px solid black; */
  margin-bottom: 1rem;
}
#btn {
  border-radius: 0px;
  text-decoration: none;
  background-color: #27374d;
 }
#btn:hover {
  background-color: #afbed4;
  color: black;
}

.read{
  text-decoration: none;
  color: white;
}
.read:hover {
   color: black;
}
