.img-24 {
  height: 5rem;
  border-radius: 50%;
  /* border: 2px solid white; */
  background-color: rgba(255, 255, 255, 0.5);
}
.footer-bg {
  background-color: #27374d;
}

.row-sm-12 > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 5px 0px;
}

.footer-copyright {
  background: #27374d;
  color: white;
}

.fourth {
  display: flex;
  align-items: center;
}