.country-form {
  background-color: #bbd4ea;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.form-select {
  width: auto;
}

.btn-input {
  background-color: #27374d;
  color: white;
  margin-top: 8px;
}

.label {
  font-weight: bold;
}

.heading {
  /* font-weight: 600; */
  color: #27374d;
}
