.form {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  padding: 20px;
  border: solid 5px rgba(39, 55, 77, 0.4);
  border-radius: 4px;
}

.btn-form {
  background-color: #27374d;
  color: white;
  margin-top: 8px;
}

.form-label {
  margin: 4px auto;
}


input:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 4px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease 0s;
}
