@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: black;
  padding: 7px;
}
.inactive {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
  padding: 7px;
}

.inactive:hover,
.active:hover {
  background-color: #9db2bf;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
  padding: 5px;
  transition: box-shadow 0.2s ease 0s;
}

.active {
  border-radius: 10px;
  background-color: #9db2bf;
}
